html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 2px solid #000;
}

body {
  background-color: #f2f2f2;
}

section {
  background-color: #fff;
}

@media only screen and (min-width: 60em) {

  .box {
    padding: 1rem;
  }

}
